body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(255, 254, 255);
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    position: fixed;
    border-bottom: solid 1px rgba(0, 0, 0, 0.308);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
}

header img {
    height: 10vh;
    padding-left: 10px;
    width: auto;
    object-fit: contain;
}

#logo_container {
    display: flex;
    align-items: start;
    justify-content: start;
}

#mid_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mid_container h3, #mid_container h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    object-fit: contain;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
}

#container_selector_tema {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_selector_tema button {
    /*background-color: rgb(0, 0, 0);*/
    min-width: 100px;
    border-radius: 25px;
    font-size: medium;
    /*color: white;*/
    border: 0px;
    width: 20%;
    height: 5.2vh;
}

#container_selector_tema button:hover {
    cursor: pointer;
    /*background-color: rgb(50, 50, 50);*/
}

#main_container {
    padding-top: 8vh;
    height: 80vh;
}

#container_selector_tema {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

#main {
    /*background-color: rgb(251, 251, 251);*/
    min-height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

#bienvenida{
    text-align: center;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    padding-top: 10%;
}

#input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 5px;
}



#input input {
    /*background-color: rgba(119, 119, 119, 0.39);*/
    border-radius: 5px;
    min-width: 200px;
    width: 78%;
    height: 5vh;
    border: 0px;
    font-size: large;
    text-indent: 10px;
    border-radius: 25px;
}

#input button {
    /*background-color: rgb(0, 0, 0);*/
    min-width: 100px;
    border-radius: 5px;
    font-size: large;
    /*color: white;*/
    border: 0px;
    width: 20%;
    height: 5vh;
    border-radius: 25px;
}

#input button:hover {
    cursor: pointer;
    /*background-color: rgb(50, 50, 50);*/
    /*color: #ffffffda;*/
}

#link_admin {
    margin-top: 10px;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: small;
    font-style: normal;
}

#link:hover {
    cursor: pointer;
    color: red;
}









/* Estilos para el modo oscuro */
.header_dark {  /* */
    background-color: rgba(76, 77, 76);
    border-bottom: solid 1px rgba(202, 202, 202, 0.856);
}
.dark_txt {
    color: rgb(214, 213, 213);
}/* txt */

.mid_container_dark h3, .mid_container_dark h4 {
    color: white;  /* txt */
}

.main_dark {
    background-color: rgba(51, 51, 51);
} /* */

.bienvenida_dark{
    color: white;
}/* txt */


.selector_dark {  /* aplicar a button */
    background-color: rgb(214, 213, 213);
    color: black;
}

.selector_dark:hover {
    background-color: rgb(117, 117, 117);
    cursor: pointer;;
}

.input_dark input {
    background-color: rgba(218, 217, 217, 0.639);
    color: rgb(0, 0, 0);
}

.input_dark button {
    background-color: rgb(214, 213, 213);
    color: black;
}

.input_dark button:hover {
    background-color: rgb(117, 117, 117);
}

.link_dark {
    color: rgb(227, 227, 227);
}




/* Estilos para el modo claro */
.header_light {
    background-color: rgba(255, 254, 255);
    border-bottom: solid 1px rgba(0, 0, 0, 0.308);
}

.light_txt {
    color: rgb(0, 0, 0);
}/* txt */

.mid_container_dark h3, .mid_container_dark h4 {
    color: white;  /* txt */
}

.main_light {
    background-color: rgba(251, 251, 251);
}

.bienvenida_light{
    color: black;
}/* txt */


.selector_light {  /* aplicar a button */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.selector_light:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.input_light input {
    background-color: rgba(119, 119, 119, 0.39);
    color: rgb(85, 85, 85);
}

.input_light button {
    background-color: rgb(0, 0, 0);
    color: white;
}

.input_light button:hover {
    background-color: rgb(50, 50, 50);
    color: white;
}

.link_light {
    color: rgb(0, 0, 0);
}